.App {
  text-align: center;
}

#community_cards {
  flex-direction: row;
}

.hand {
  float: left;
  padding: 20px;
}

.handToBet {
  float: left;
  padding: 20px;
  border: gold;
  border-style: solid;
  border-color: gold;
}

.redCard {
  color: red;
  float: left;
  padding: 5px;
}

.blackCard {
  color: black;
  float: left;
  padding: 5px;
}

#bettingForm {
  float: left;
  clear: left;
}